 <nav class="navbar bg-primary">
<!--    <div class="container-fluid"> -->
        <ul class="nav flex-column" >
            <li class="nav-item">
              <a class="nav-link active"  aria-current="page" href="#">Document Information</a>
              <ul>
                <li class="nav-item">
                  <a class="nav-link"  href="">Add Document</a>
                </li>
              </ul>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="#">ESO Information</a>
              <ul>
                <li class="nav-item" >
                  <a class="nav-link"  href="">Add ESO</a>
                  <a class="nav-link"  href="">View/Edit ESO</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a>
              <ul>
                <li class="nav-item" >
                  <a class="nav-link"  href="">Search Documents</a>
                  <a class="nav-link"  href="">Search Audits</a>
                  <a class="nav-link"  href="">Search Routes</a>
                </li>
              </ul>   
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#">Admin Conifiguration</a>
              <ul>
                <li class="nav-item">
                  <a class="nav-link"  href="">Manage Sections</a>
                  <a class="nav-link"  href="">Manage Effectivies</a>
                  <a class="nav-link"  href="">Manage Vendors</a>
                  <a class="nav-link"  href="">Manage Doc Categories</a>
                  <a class="nav-link"  href="">Manage Detail Doc Type</a>
                  <a class="nav-link"  href="">Manage Audit Statuses</a>     
                </li>
              </ul> 
            </li>
        </ul>          
    <!-- </div>
</nav> -->